{"query":"query {\n  node(id: \"{{.NodeID}}\") {\n    ... on ProjectV2 {\n      number\n      items(first: 100, after: \"\") {\n        totalCount\n        pageInfo {\n          endCursor\n          hasNextPage\n          hasPreviousPage\n          startCursor\n        }\n        nodes {\n          id\n          fieldValueByName(name: \"{{.Column}}\") {\n            ... on ProjectV2ItemFieldSingleSelectValue {\n              name\n              field {\n                ... on ProjectV2FieldCommon {\n                  __typename\n                  name\n                }\n              }\n            }\n          }\n          content {\n            ... on Issue {\n              __typename\n              id\n              url\n              title\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{}}
